---
title: Welcome to the Carnarvon Zoo
permalink: /live/carnarvon_cam
key: live-carnarvon-cam
---

<?php

$small = 0.1;
$medium = 0.2;
$large = 0.5;

$options = "-q -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no";
$address = "visitor@carnarvon";
$controlkey = "-i /var/www/.ssh/foscamcontrol";
$retrievekey = "-i /var/www/.ssh/foscamretrieve";
$imgpath="/var/www/html/downloads/camera/carnarvon.jpg";
$imgurl="/downloads/camera/carnarvon.jpg";

if(!isset($_POST['foscam'])) {
    $_POST['foscam'] = 'Refresh';
    $_POST['move'] = 'medium';
    exec("ssh $options $controlkey $address");
}

switch ($_POST['move']) {
      case 'small':  $move = $small;
                     break;
      case 'medium': $move = $medium;
                     break;
      case 'large':  $move = $large;
                     break;
}

switch ($_POST['foscam']) {
      case 'Up':      exec("ssh $options $controlkey $address up    $move");
                      break;
      case 'Down':    exec("ssh $options $controlkey $address down  $move");
                      break;
      case 'Left':    exec("ssh $options $controlkey $address left  $move");
                      break;
      case 'Right':   exec("ssh $options $controlkey $address right $move");
                      break;
      case 'Refresh': exec("ssh $options $controlkey $address");
                      break;
}

exec("scp $options $retrievekey $address: $imgpath");

?>

<div align="center">
<img src=<?php echo "$imgurl" ?> />

<form name="camera" action="carnarvon_cam" method="post">
<p>Movement:
<input type="radio" name="move" value="small"  <?php if($move==$small)  echo "checked" ?> /> Small
<input type="radio" name="move" value="medium" <?php if($move==$medium) echo "checked" ?> /> Medium
<input type="radio" name="move" value="large"  <?php if($move==$large)  echo "checked" ?> /> Large
</p>
<br />
<input type="submit" name="foscam" value="Up" /><br />
<input type="submit" name="foscam" value="Left" />
<input type="submit" name="foscam" value="Right" /><br />
<input type="submit" name="foscam" value="Down" /><br /><br />
<input type="submit" name="foscam" value="Refresh" />
</form>

</div>
