---
title: Welcome to the Mount Wilson Zoo
permalink: /live/mtwilson_tower
key: live-mtwilson-tower
---

<?php

$refreshTime = 150;

$imgpath="/var/www/html/downloads/camera/tower.jpg";
$imgurl="/downloads/camera/tower.jpg";

$refresh = false;
if (file_exists($imgpath)) {
    $age = time() - filemtime($imgpath);
    if ($age < $refreshTime) {
        $delay = $refreshTime - $age;
        echo "<p><span style=\"color: red\">Time to next refresh: " . $delay . " seconds.</span></p>\n";
    } else {
        $refresh = true;
    }
} else {
    $refresh = true;
}

if ($refresh) {
    exec("wget -O $imgpath http://obs.astro.ucla.edu/images/towercam.jpg");
}

?>

<div align="center">
<img width="640" height="480" src=<?php echo "$imgurl" ?> />

<form name="camera" action="mtwilson_cam" method="post">
<input type="submit" value="Refresh" />
</form>

</div>
