---
title: Welcome to the Narrabri Zoo
permalink: /live/narrabri_cam
key: live-narrabri-cam
---

Camera offline
<?php goto offline ?>


<?php

$refreshTime = 60;

$options = "-q -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no";
$sshaddress = "-p 411 visitor@narrabri";
$scpaddress = "-P 411 visitor@narrabri";
$controlkey = "-i /var/www/.ssh/foscamcontrol";
$retrievekey = "-i /var/www/.ssh/foscamretrieve";
$imgpath="/var/www/html/downloads/camera/narrabri.jpg";
$imgurl="/downloads/camera/narrabri.jpg";

$refresh = false;
if (file_exists($imgpath)) {
    $age = time() - filemtime($imgpath);
    if ($age < $refreshTime) {
        $delay = $refreshTime - $age;
        echo "<p><span style=\"color: red\">Time to next refresh: " . $delay . " seconds.</span></p>\n";
    } else {
        $refresh = true;
    }
} else {
    $refresh = true;
}

if ($refresh) {
    exec("ssh $options $controlkey $sshaddress");
    exec("scp $options $retrievekey $scpaddress: $imgpath");
}

?>

<div align="center">
<img width="640" height="480" src=<?php echo "$imgurl" ?> />

<form name="camera" action="narrabri_cam" method="post">
<input type="submit" value="Refresh" />
</form>

</div>

<?php
  offline:
?>
